<div class="maincontainer">
  <div class="front">
    <div class="image">
      <img [src]="image()" [alt]="title()" />
    </div>

    <h3 class="title text-base font-medium mt-4">{{ title() }}</h3>
    <h5 class="text-xs text-gray-400 font-extralight mt-1">{{ date() }}</h5>

    <div class="flex flex-wrap gap-1">
      @if (category()) {
          @for (cat of category(); track cat.id) {
          <app-badge [categoryName]="cat.name"/>
        }
      }
    </div>

   <app-button-custom
          [buttonText]="'Ver más'"
          [secondary]="true"
          [routerLink]="'/contact'"
          class="mt-9"
    />

  </div>
</div>
