<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 md:ml-4 overflow-x-hidden p-4"
>
  @for (skill of skillList; track skill.id) {
    <div
      class="w-full md:w-72 mx-auto mb-5"
    >
      <p class="text-sm mb-2 text-white">{{ skill.name }}</p>
      <div class="progress-fill bg-pink-light h-3 rounded-full">
        <div
          #progressBarFill
          class="progress-fill bg-pink h-3 rounded-full"
          [attr.data-level]="skill.level"
        ></div>
      </div>
      </div>
  }
</div>
