/* portfolio me */
.dots {
  position: absolute;
  z-index: 0;
  /* opacity: 0.5; */
  pointer-events: none;
}

.portfolio {
  position: relative;

  .portfolio-dots {
    top: 1%;
    left: 62%;
    width: 250px;
  }

  .portfolio-portrait {
    position: relative;
    z-index: 10;
  }
}
