<nav class="m-4 z-50 flex flex-row flex-nowrap justify-around font-extrabold">
  <div class="name">
    <span><a class="hover:underline" routerLink="home">Patricia Fernández</a></span>
  </div>
  <div class="title">
    <span>Frontend Developer</span>
  </div>
  <div class="flex flex-row flex-nowrap gap-4">
    <a class="hover:underline" routerLink="home">Home</a>
    <a class="hover:underline" routerLink="/about">About</a>
    <a class="hover:underline" routerLink="/portfolio">Portfolio</a>
    <a class="hover:underline" routerLink="/resume">Resume</a>
    <a class="hover:underline" routerLink="/contact">Contact</a>
  </div>
</nav>
