<!-- About section-->
<section class="about bg-light py-20 pt-40 flex justify-center items-center">
  <div
    class="max-w-7xl w-full mx-auto px-4 lg:px-8 flex flex-col lg:flex-row gap-16 items-start"
  >
    <div class="text-blue md:w-3xl p-4 relative">
      <h1 class="text-4xl sm:text-5xl md:text-7xl lg:text-7xl xl:text-8xl">
        About me
      </h1>
      <!--Wave decorations-->
      <app-wave class="about-wave mt-2" />

      <div class="text-blue text-base text-balance pt-6">
        <p>
          Soy desarrolladora frontend especializada en Angular, JavaScript y
          diseño de interfaces. Combino una fuerte base técnica con sensibilidad
          estética para crear experiencias web eficientes, accesibles y
          visualmente coherentes. Disfruto trabajando en equipo, colaborando con
          perfiles técnicos y creativos, y me adapto con rapidez a nuevos retos
          y tecnologías.
        </p>
      </div>
    </div>

    <div class="text-blue md:w-3xl">
      <img
        src="https://res.cloudinary.com/dgguxcib9/image/upload/v1750173872/portrait-background_x8uf8x.png"
        alt="Self portrait"
        width="400px"
        class="about-portrait z-50"
      />

      <!--Adding some dots decorations-->
      <app-dots class="dots about-dots hidden lg:block" />
    </div>
  </div>
</section>

<!-- Skills section-->
<section class="skills-section py-16 bg-blue text-light">
  <div class="max-w-7xl mx-auto px-4 lg:px-8">
    <div class="mx-auto mb-8">
      <h2 class="text-3xl font-semibold text-left">Habilidades</h2>
      <!-- Wave decoration -->
      <app-wave />
    </div>

    <div
      class="max-w-5xl grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 text-lg"
    >
      @if (skillList) {
        @for (skill of skillList; track skill.id) {
          <div class="text-white text-center rounded-4xl text-sm p-2 w-fit">
            <p>#{{ skill.name }}</p>
          </div>
        }
      }
    </div>
  </div>
</section>

<!--Timeline section-->
<div class="h-full flex flex-col justify-start items-center bg-white py-16">
  <div class="max-w-7xl mx-auto px-4 lg:px-8">
    <div class="flex flex-col justify-start items-center mb-9 mt-4">
      <h2 class="text-3xl font-semibold text-blue">Mi experiencia</h2>
      <!--Wave decorations-->
      <app-wave class="mt-2" />
    </div>
    <div>
      <ul class="timeline timeline-centered">
        <li class="timeline-item">
          <div class="timeline-info text-sm text-gray-400 font-extralight mt-1">
            <p>27/06/2023 - 31/12/2024</p>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content lg:w-48">
            <h3 class="timeline-title text-base font-medium">
              Frontend Developer Junior
            </h3>
            <p class="test-sm/6 text-gray-400">
              Nettrim Technology / Jornada completa
            </p>
            <p class="test-sm/6 text-gray-400">En remoto</p>
            <ul class="text-base/8 list-disc">
              <li>
                Participé activamente en el desarrollo de Watchtower, una
                herramienta interna de gestión empresarial similar a Holded.
                Implementé interfaces de usuario intuitivas, optimicé flujos de
                trabajo y aseguré la integración eficiente con sistemas
                internos.
              </li>
              <li>
                Trabajé en DataIE, una aplicación para la creación de informes
                de sostenibilidad empresarial. Desarrollé componentes frontend
                que mejoraron la experiencia del usuario, y colaboré con el
                equipo para garantizar la visualización precisa de datos
                complejos.
              </li>
              <li>
                Colaboré estrechamente con diseñadores UX/UI y el equipo backend
                para garantizar la coherencia visual y funcionalidad en ambas
                aplicaciones.
              </li>
              <li>
                Participé en metodologías ágiles, contribuyendo en sprints,
                revisiones de código y entregas continuas.
              </li>
              <li>
                Tecnologías principales utilizadas: Angular, TypeScript, RxJS,
                HTML5, CSS3, SCSS, Git, Figma, y herramientas relacionadas con
                el desarrollo frontend moderno.
              </li>
            </ul>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info text-sm text-gray-400 font-extralight mt-1">
            <p>09/10/2020 - 31/12/2022</p>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content lg:w-48">
            <h3 class="timeline-title text-base font-medium">
              Diseñadora UX/UI para Stellantis
            </h3>
            <p class="test-sm/6 text-gray-400">
              SIVSA - Coremain / Jornada completa
            </p>
            <p class="test-sm/6 text-gray-400">En remoto</p>
            <p class="text-base/8 list-disc">
              Trabajé en la creación y adaptación de piezas para campañas de
              marketing de diversas marcas (Peugeot, Opel, DS y Citroën en
              España y Portugal). Me encargué del mantenimiento y actualización
              de las webs con Adobe Experience Manager, edición de imágenes en
              Photoshop y desarrollo de animaciones en Adobe Animate.
            </p>
          </div>
        </li>

        <li class="timeline-item">
          <div class="timeline-info text-sm text-gray-400 font-extralight mt-1">
            <p>01/07/2020 - 08/09/2020</p>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content lg:w-48">
            <h3 class="timeline-title text-base font-medium">
              Diseñadora UX/UI
            </h3>
            <p class="test-sm/6 text-gray-400">
              Digital Monster Collective / Jornada completa
            </p>
            <p class="test-sm/6 text-gray-400">En remoto</p>
            <p class="text-base/8 list-disc">
              Creación y diseño de app CarPay. Nuestro apartado en el diseño fue
              la creación de la imagen para la app, el flujo de navegación, y el
              diseño de los diferentes apartados del prototipo.
            </p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info text-sm text-gray-400 font-extralight mt-1">
            <p>12/01/2019 - 31/06/2019</p>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content lg:w-48">
            <h3 class="timeline-title text-base font-medium">
              Maquetadora editorial
            </h3>
            <p class="test-sm/6 text-gray-400">
              Rinoceronte editora / Jornada completa
            </p>
            <p class="test-sm/6 text-gray-400">Cangas do Morrazo, Pontevedra</p>
            <p class="text-base/8 list-disc">
              Maquetación en Adobe Indesign para la editorial y edición y
              maquetación para la editorial SM.
            </p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info text-sm text-gray-400 font-extralight mt-1">
            <p>14/03/2016 - 11/01/2019</p>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content lg:w-48">
            <h3 class="timeline-title text-base font-medium">
              Diseñadora web, gráfica e ilustradora
            </h3>
            <p class="test-sm/6 text-gray-400">
              Xilon Solutions / Jornada completa
            </p>
            <p class="test-sm/6 text-gray-400">Vigo, Pontevedra</p>
            <p class="text-base/8 list-disc">
              Puesta en marcha y gestión de páginas webs en CMS propio para los
              clientes de SIWEB. Gestión directa del proyecto con el cliente,
              desde la definición inicial de la web, negociación y diseño, hasta
              su publicación.
            </p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info text-sm text-gray-400 font-extralight mt-1">
            <p>01/10/2015 - 1/04/2016</p>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content lg:w-48">
            <h3 class="timeline-title text-base font-medium">
              Proyecto Área Aberta como ilustradora
            </h3>
            <p class="test-sm/6 text-gray-400">People and Brand / Freelance</p>
            <p class="test-sm/6 text-gray-400">Vigo, Pontevedra</p>
            <p class="text-base/8 list-disc">
              Creación y diseño de personajes ilustrados para la campaña Área
              Aberta de la Asociación de comerciantes de Villagarcía.
            </p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info text-sm text-gray-400 font-extralight mt-1">
            <p>14/07/2014 - 14/07/2015</p>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content lg:w-48">
            <h3 class="timeline-title text-base font-medium">
              Diseñadora gráfica, maquetadora web
            </h3>
            <p class="test-sm/6 text-gray-400">Crealtia / Jornada completa</p>
            <p class="test-sm/6 text-gray-400">Vigo, Pontevedra</p>
            <p class="text-base/8 list-disc">
              Diseño y maquetación web de proyecto elearning para moodle.
            </p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info text-sm text-gray-400 font-extralight mt-1">
            <p>01/07/2013 - 01/09/2013</p>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content lg:w-48">
            <h3 class="timeline-title text-base font-medium">
              Prácticas como diseñadora gráfica
            </h3>
            <p class="test-sm/6 text-gray-400">
              Anónimo Advertising / Jornada completa
            </p>
            <p class="test-sm/6 text-gray-400">Vigo, Pontevedra</p>
            <p class="text-base/8 list-disc">
              Diseño y maquetación de diferentes elementos como posters,
              contenido editorial y banners para clientes como panaderías
              Tahona, Joyería Suiza, etc.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
