
  .header-dots {
    position: absolute;
    top: 21%;
    z-index: 0;
    right: 65%;
  }

  /* .header-wave{

} */


.about {
  .about-dots {
    position: absolute;
    top: 94%;
    z-index: 0;
    right: 65%;
    z-index: 0;
  }

  .about-portrait{
    z-index: 100;
  }
}
