<!--Welcome banner-->
<header
  class="bg-blue h-dvh w-full flex flex-col flex-wrap justify-center gap-y-5 items-center"
>
  <!--Adding some decorations-->
  <svg width="500px" height="500px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 960 960">
  <!-- Generator: Adobe Illustrator 29.5.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 141)  -->
  <defs>
    <style>
      .st0 {
        fill: #ee92c2;
      }
    </style>
  </defs>
  <g>
    <circle class="st0" cx="284.3" cy="274.6" r="8.5"/>
    <circle class="st0" cx="349.5" cy="274.6" r="8.5"/>
    <circle class="st0" cx="414.7" cy="274.6" r="8.5"/>
    <circle class="st0" cx="479.9" cy="274.6" r="8.5"/>
    <circle class="st0" cx="545.1" cy="274.6" r="8.5"/>
    <circle class="st0" cx="610.3" cy="274.6" r="8.5"/>
    <circle class="st0" cx="675.5" cy="274.6" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="333.3" r="8.5"/>
    <circle class="st0" cx="349.5" cy="333.3" r="8.5"/>
    <circle class="st0" cx="414.7" cy="333.3" r="8.5"/>
    <circle class="st0" cx="479.9" cy="333.3" r="8.5"/>
    <circle class="st0" cx="545.1" cy="333.3" r="8.5"/>
    <circle class="st0" cx="610.3" cy="333.3" r="8.5"/>
    <circle class="st0" cx="675.5" cy="333.3" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="391.9" r="8.5"/>
    <circle class="st0" cx="349.5" cy="391.9" r="8.5"/>
    <circle class="st0" cx="414.7" cy="391.9" r="8.5"/>
    <circle class="st0" cx="479.9" cy="391.9" r="8.5"/>
    <circle class="st0" cx="545.1" cy="391.9" r="8.5"/>
    <circle class="st0" cx="610.3" cy="391.9" r="8.5"/>
    <circle class="st0" cx="675.5" cy="391.9" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="450.5" r="8.5"/>
    <circle class="st0" cx="349.5" cy="450.5" r="8.5"/>
    <circle class="st0" cx="414.7" cy="450.5" r="8.5"/>
    <circle class="st0" cx="479.9" cy="450.5" r="8.5"/>
    <circle class="st0" cx="545.1" cy="450.5" r="8.5"/>
    <circle class="st0" cx="610.3" cy="450.5" r="8.5"/>
    <circle class="st0" cx="675.5" cy="450.5" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="509.1" r="8.5"/>
    <circle class="st0" cx="349.5" cy="509.1" r="8.5"/>
    <circle class="st0" cx="414.7" cy="509.1" r="8.5"/>
    <circle class="st0" cx="479.9" cy="509.1" r="8.5"/>
    <circle class="st0" cx="545.1" cy="509.1" r="8.5"/>
    <circle class="st0" cx="610.3" cy="509.1" r="8.5"/>
    <circle class="st0" cx="675.5" cy="509.1" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="567.7" r="8.5"/>
    <circle class="st0" cx="349.5" cy="567.7" r="8.5"/>
    <circle class="st0" cx="414.7" cy="567.7" r="8.5"/>
    <circle class="st0" cx="479.9" cy="567.7" r="8.5"/>
    <circle class="st0" cx="545.1" cy="567.7" r="8.5"/>
    <circle class="st0" cx="610.3" cy="567.7" r="8.5"/>
    <circle class="st0" cx="675.5" cy="567.7" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="626.3" r="8.5"/>
    <circle class="st0" cx="349.5" cy="626.3" r="8.5"/>
    <circle class="st0" cx="414.7" cy="626.3" r="8.5"/>
    <circle class="st0" cx="479.9" cy="626.3" r="8.5"/>
    <circle class="st0" cx="545.1" cy="626.3" r="8.5"/>
    <circle class="st0" cx="610.3" cy="626.3" r="8.5"/>
    <circle class="st0" cx="675.5" cy="626.3" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="684.9" r="8.5"/>
    <circle class="st0" cx="349.5" cy="684.9" r="8.5"/>
    <circle class="st0" cx="414.7" cy="684.9" r="8.5"/>
    <circle class="st0" cx="479.9" cy="684.9" r="8.5"/>
    <circle class="st0" cx="545.1" cy="684.9" r="8.5"/>
    <circle class="st0" cx="610.3" cy="684.9" r="8.5"/>
    <circle class="st0" cx="675.5" cy="684.9" r="8.5"/>
  </g>
</svg>

  <div class="text-light text-center pb-8">
    <h1 class="text-9xl">Frontend Developer</h1>
    <h2 class="text-5xl mt-2">Patricia Fernández</h2>
  </div>

  <div class="flex flex-row flex-nowrap">
    <app-button-custom
      [buttonText]="'Ver proyectos'"
      [primary]="true"
      [routerLink]="'/portfolio'"
    />
    <app-button-custom
      [buttonText]="'Contactar'"
      [secondary]="true"
      [routerLink]="'/contact'"
    />
  </div>

  <div class="text-pink">
    <p>Sígueme en mis RRSS →</p>
  </div>
</header>

<!-- About me section-->
<div class="bg-light h-9/10 w-full flex flex-row flex-nowrap gap-16 p-24">
  <div class="w-4xl h-2xl p-4">
    <img src="" alt="" />
  </div>
  <div class="text-blue w-3xl">
    <h2 class="text-3xl font-semibold pb-6">About me</h2>
    <p class="text-xl">
      ¡Hola! Soy Patricia Fernández, desarrolladora frontend con experiencia en
      Angular y un pasado ligado al diseño web y gráfico. Me gusta trabajar en
      proyectos que combinan código y diseño, donde puedo cuidar tanto la
      funcionalidad como la parte visual.
    </p>
    <br />
    <p class="text-xl">
      Disfruto creando interfaces limpias, modulares y bien estructuradas. Me
      siento cómoda trabajando en equipo, colaborando con perfiles técnicos o de
      diseño, y aprendiendo cosas nuevas cada vez que el proyecto lo pide. No me
      asustan los retos, al contrario: suelen ser lo que más me motiva a seguir
      creciendo como profesional.
    </p>
  </div>
</div>

<!-- Skills carrusell-->
<div class="bg-green w-full h-40"></div>

<!-- Recent projects-->
<div class="bg-white h-dvh p-24">
  <h2 class="text-3xl font-semibold pb-6 text-blue">Recent Projects</h2>
</div>

<!-- Contact-->
<div class="w-full h-96 bg-blue"></div>
