<div class="w-full">
  <!-- Header section-->
  <header
    class="header bg-blue min-h-screen w-full flex justify-center items-center"
  >
    <div
      class="max-w-7xl w-full px-4 mt-16 lg:px-8 text-center flex flex-col items-center gap-y-6 relative"
    >
      <!--Adding some dots decorations-->
      <app-dots class="dots header-dot hidden lg:block" />

      <div class="text-light z-50 text-center flex flex-col items-center pb-8">
        <h1
          #principalTitle
          class="text-4xl sm:text-5xl md:text-7xl lg:text-7xl xl:text-8xl"
        >
          Frontend Developer
        </h1>
        <h2
          #secondaryTitle
          class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl mt-2"
        >
          Patricia Fernández
        </h2>
        <!--Wave decorations-->
        <app-wave class="header-wave mt-2" />
      </div>

      <div class="flex flex-row flex-nowrap">
        <app-button-custom
          [buttonText]="'Ver proyectos'"
          [icons]="'open_in_new'"
          [primaryPink]="true"
          [routerLink]="'/portfolio'"
        />
        <app-button-custom
          [buttonText]="'Contactar'"
          [icons]="'mail_outline'"
          [secondaryPink]="true"
          [srcLink]="'mailto:patriciafernandezruibal@gmail.com'"
        />
      </div>

      <!--RRSS Links-->
      <div class="text-pink flex flex-wrap gap-2">
        <p class="inline-flex items-center gap-2">
          Sígueme en mis RRSS
          <mat-icon
            fontIcon="trending_flat"
            class="material-icons-round text-rrss"
            aria-hidden="true"
          ></mat-icon>
        </p>

        <div class="rrss flex flex-wrap gap-2">
          <a href="https://github.com/Cristelos" target="_blank">
            <img
              src="assets/rrss/github-pink.svg"
              alt="Icono github"
              class="hover:opacity-30"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/patricia-fernandez-ruibal/"
            target="_blank"
          >
            <img
              src="assets/rrss/linkedin-pink.svg"
              alt="Iconos linkedin"
              class="hover:opacity-30"
            />
          </a>
        </div>
      </div>

      <!--Arrow down direction-->
      <div #arrowDown class="text-pink text-7xl mt-8">
        <mat-icon
          fontIcon="arrow_downward"
          inline
          class="material-icons-round"
          aria-hidden="true"
        ></mat-icon>
      </div>
    </div>
  </header>

  <!-- About me section-->
  <section
    class="about bg-light py-20 lg:h-dvh flex justify-center items-center"
  >
    <div
      #about
      class="max-w-7xl w-full mx-auto px-4 lg:px-8 flex flex-col lg:flex-row gap-16 items-start"
    >
      <div class="lg:w-3xl p-4 relative">
        <img
          src="https://res.cloudinary.com/dgguxcib9/image/upload/v1750173872/portrait-background_x8uf8x.png"
          alt="Self portrait"
          width="400px"
          class="about-portrait z-50"
        />

        <!--Adding some dots decorations-->
        <app-dots class="dots about-dots hidden lg:block" />
      </div>

      <div class="text-blue lg:w-3xl">
        <h2 class="text-3xl font-semibold">About me</h2>
        <!--Wave decorations-->
        <app-wave class="header-wave mt-2" />
        <p class="text-base/8 text-balance pt-6">
          ¡Hola! Soy Patricia Fernández, desarrolladora frontend con experiencia
          en Angular y un pasado ligado al diseño web y gráfico. Me gusta
          trabajar en proyectos que combinan código y diseño, donde puedo cuidar
          tanto la funcionalidad como la parte visual.
        </p>
        <br />
        <p class="text-base/8 text-balance mb-4">
          Disfruto creando interfaces limpias, modulares y bien estructuradas.
          Me siento cómoda trabajando en equipo, colaborando con perfiles
          técnicos o de diseño, y aprendiendo cosas nuevas cada vez que el
          proyecto lo pide. No me asustan los retos, al contrario: suelen ser lo
          que más me motiva a seguir creciendo como profesional.
        </p>
        <app-button-custom
          [buttonText]="'Saber más'"
          [primaryGreen]="true"
          [routerLink]="'/about'"
        />
      </div>
    </div>
  </section>

  <!-- Skills carrusell-->
  <section
    class="skills bg-green h-40 flex justify-center items-center overflow-hidden"
  >
    <app-carousel />
  </section>

  <!-- Recent projects-->
  <section
    class="h-dvh flex flex-col justify-center items-center bg-white py-20"
  >
    <div #projects class="h-dvh flex flex-col justify-center items-center">
      <div class="lg:max-w-8xl mx-auto px-4 lg:px-8 projects relative">
        <div class="mb-10">
          <h2 class="text-3xl font-semibold text-blue">Recent Projects</h2>
          <!--Wave decorations-->
          <app-wave />
        </div>

        <!-- Proyects slider-->
        <app-slider [slides]="featuredProjects" />

        <!--Adding some dots decorations-->
        <app-dots class="dots projects-dots hidden lg:block" />
      </div>

      <div class="mt-9">
        <app-button-custom
          [buttonText]="'Ver proyectos'"
          [icons]="'open_in_new'"
          [secondaryBlue]="true"
          [routerLink]="'/portfolio'"
        />
      </div>
    </div>
  </section>

  <!-- Contact-->
  <section class="h-dvh flex justify-center items-center bg-blue text-light">
    <div
      #contact
      class="contact relative max-w-7xl w-full mx-auto px-4 lg:px-8 flex flex-col gap-16 items-center"
    >
      <div class="text-center flex flex-col items-center">
        <h2 class="text-5xl font-semibold">Contacto</h2>
        <!--Wave decorations-->
        <app-wave />
      </div>
      <p class="text-xl text-center">
        ¿Te apetece saber algo más? Escríbeme un correo y charlemos.
      </p>
      <app-button-custom
        [buttonText]="'Contactar'"
        [icons]="'mail_outline'"
        [secondaryPink]="true"
        [srcLink]="'mailto:patriciafernandezruibal@gmail.com'"
      />
      <!--Adding some dots decorations-->
      <app-dots class="dots contact-dots hidden lg:block" />
    </div>
  </section>
</div>
