.dots {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

/* Header */
.header {
  position: relative;

  .rrss img {
    width: 36px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .header-dot {
    top: -32%;
    left: -8%;
    width: 300px;
  }
}

/* About me */
.about {
  position: relative;

  .about-dots {
    top: -41%;
    left: -22%;
    width: 250px;

    @media (max-width: 768px) {
      top: -10%;
      left: 0;
      width: 150px;
    }
  }

  .about-portrait {
    position: relative;
    z-index: 10;
  }
}

/* Projects */
.projects {
  position: relative;

  .projects-dots {
    top: 50%;
    left: 2%;
    width: 300px;

    @media (max-width: 768px) {
      top: -11%;
      left: -8%;
    }
  }
  app-slider {
    position: relative;
    z-index: 10;
  }
}

/* Contact */
.contact {
  position: relative;

  .contact-dots {
    top: 0;
    left: -2%;
    width: 250px;

    @media (max-width: 768px) {
      top: 5%;
      left: 0;
      width: 150px;
    }
  }
}
