.header{
  .header-dots {
    position: absolute;
    top: 21%;
    z-index: 0;
    right: 65%;
  }

  .rrss img{
    width: 36px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

}

.about {
  .about-dots {
    position: absolute;
    top: 94%;
    z-index: 0;
    right: 65%;
    z-index: 0;
  }

  .about-portrait{
    z-index: 1000;
  }
}
