  <svg [attr.class]="fillColorClass()" width="500px" height="500px" id="dots" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 960 960">
  <!-- Generator: Adobe Illustrator 29.5.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 141)  -->
  <defs>
    <style>
      .st0 {
        fill: currentColor;
      }
    </style>
  </defs>
  <g>
    <circle class="st0" cx="284.3" cy="274.6" r="8.5"/>
    <circle class="st0" cx="349.5" cy="274.6" r="8.5"/>
    <circle class="st0" cx="414.7" cy="274.6" r="8.5"/>
    <circle class="st0" cx="479.9" cy="274.6" r="8.5"/>
    <circle class="st0" cx="545.1" cy="274.6" r="8.5"/>
    <circle class="st0" cx="610.3" cy="274.6" r="8.5"/>
    <circle class="st0" cx="675.5" cy="274.6" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="333.3" r="8.5"/>
    <circle class="st0" cx="349.5" cy="333.3" r="8.5"/>
    <circle class="st0" cx="414.7" cy="333.3" r="8.5"/>
    <circle class="st0" cx="479.9" cy="333.3" r="8.5"/>
    <circle class="st0" cx="545.1" cy="333.3" r="8.5"/>
    <circle class="st0" cx="610.3" cy="333.3" r="8.5"/>
    <circle class="st0" cx="675.5" cy="333.3" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="391.9" r="8.5"/>
    <circle class="st0" cx="349.5" cy="391.9" r="8.5"/>
    <circle class="st0" cx="414.7" cy="391.9" r="8.5"/>
    <circle class="st0" cx="479.9" cy="391.9" r="8.5"/>
    <circle class="st0" cx="545.1" cy="391.9" r="8.5"/>
    <circle class="st0" cx="610.3" cy="391.9" r="8.5"/>
    <circle class="st0" cx="675.5" cy="391.9" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="450.5" r="8.5"/>
    <circle class="st0" cx="349.5" cy="450.5" r="8.5"/>
    <circle class="st0" cx="414.7" cy="450.5" r="8.5"/>
    <circle class="st0" cx="479.9" cy="450.5" r="8.5"/>
    <circle class="st0" cx="545.1" cy="450.5" r="8.5"/>
    <circle class="st0" cx="610.3" cy="450.5" r="8.5"/>
    <circle class="st0" cx="675.5" cy="450.5" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="509.1" r="8.5"/>
    <circle class="st0" cx="349.5" cy="509.1" r="8.5"/>
    <circle class="st0" cx="414.7" cy="509.1" r="8.5"/>
    <circle class="st0" cx="479.9" cy="509.1" r="8.5"/>
    <circle class="st0" cx="545.1" cy="509.1" r="8.5"/>
    <circle class="st0" cx="610.3" cy="509.1" r="8.5"/>
    <circle class="st0" cx="675.5" cy="509.1" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="567.7" r="8.5"/>
    <circle class="st0" cx="349.5" cy="567.7" r="8.5"/>
    <circle class="st0" cx="414.7" cy="567.7" r="8.5"/>
    <circle class="st0" cx="479.9" cy="567.7" r="8.5"/>
    <circle class="st0" cx="545.1" cy="567.7" r="8.5"/>
    <circle class="st0" cx="610.3" cy="567.7" r="8.5"/>
    <circle class="st0" cx="675.5" cy="567.7" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="626.3" r="8.5"/>
    <circle class="st0" cx="349.5" cy="626.3" r="8.5"/>
    <circle class="st0" cx="414.7" cy="626.3" r="8.5"/>
    <circle class="st0" cx="479.9" cy="626.3" r="8.5"/>
    <circle class="st0" cx="545.1" cy="626.3" r="8.5"/>
    <circle class="st0" cx="610.3" cy="626.3" r="8.5"/>
    <circle class="st0" cx="675.5" cy="626.3" r="8.5"/>
  </g>
  <g>
    <circle class="st0" cx="284.3" cy="684.9" r="8.5"/>
    <circle class="st0" cx="349.5" cy="684.9" r="8.5"/>
    <circle class="st0" cx="414.7" cy="684.9" r="8.5"/>
    <circle class="st0" cx="479.9" cy="684.9" r="8.5"/>
    <circle class="st0" cx="545.1" cy="684.9" r="8.5"/>
    <circle class="st0" cx="610.3" cy="684.9" r="8.5"/>
    <circle class="st0" cx="675.5" cy="684.9" r="8.5"/>
  </g>
</svg>
