<footer class="w-full h-80 flex flex-col flex-wrap justify-center gap-y-5 items-center bg-green text-blue">
  <div class="flex flex-row flex-nowrap gap-4 font-bold">
    <a class="hover:underline" routerLink="home">Home</a>
    <a class="hover:underline" routerLink="/about">About</a>
    <a class="hover:underline" routerLink="/portfolio">Portfolio</a>
    <a class="hover:underline" routerLink="/resume">Resume</a>
    <a class="hover:underline" routerLink="/contact">Contact</a>
  </div>

  <div>
    <p>Sígueme en mis RRSS →</p>
  </div>
  <div class="text-sm mt-6">
    <p>© {{ year }} Patricia Fernández Ruibal</p>
  </div>
</footer>
