<footer class="w-full h-80 flex flex-col flex-wrap justify-center gap-y-5 items-center bg-green text-blue">
  <div class="flex flex-row flex-nowrap gap-4 font-bold">
    <a class="hover:underline" routerLink="home">Home</a>
    <a class="hover:underline" routerLink="/about">About</a>
    <a class="hover:underline" routerLink="/portfolio">Portfolio</a>
    <!-- <a class="hover:underline" routerLink="/resume">Resume</a> -->
    <a class="hover:underline" routerLink="/contact">Contact</a>
  </div>

  <div class="text-blue flex flex-wrap  gap-2">
        <p class="inline-flex items-center gap-2">
          Sígueme en mis RRSS
          <mat-icon
            fontIcon="trending_flat"
            class="material-icons-round text-rrss"
            aria-hidden="true"
          ></mat-icon>
        </p>

        <div class="rrss flex flex-wrap gap-2 ">
          <a href="https://github.com/Cristelos" target="_blank">
            <img
              src="assets/rrss/github-blue.svg"
              alt="Icono github"
              class="hover:opacity-30 w-9"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/patricia-fernandez-ruibal/"
            target="_blank"
          >
            <img
              src="assets/rrss/linkedin-blue.svg"
              alt="Iconos linkedin"
              class="hover:opacity-30 w-9"
            />
          </a>
        </div>
      </div>
  <div class="text-sm mt-6">
    <p>© {{ year }} Patricia Fernández Ruibal</p>
  </div>
</footer>
