@import "tailwindcss";

@theme {
  --color-light: #ffeedd;
  --color-green: #00cc99;
  --color-blue: #4731d4;
  --color-pink: #ee92c2;

  --color-red: #ec0b43;
  --color-mustard: #f1b500;
  --color-pumpkin: #fe7f2d;

  --color-green-light: rgba(0, 204, 153, 0.2);
  --color-blue-light: rgba(71, 49, 212, 0.2);
  --color-pink-light: rgba(238, 146, 194, 0.2);
  --color-red-light: #ec0b433e;
  --color-mustard-light: #fed86640;
  --color-pumpkin-light: #fe812d39;
  /*Fonts*/
  --font-family-titles: "Poppins", sans-serif;
  --font-family-texts: "Hind", sans-serif;
}

:root {

  /*Web pallete colors*/
  --color-light: #ffeedd;
  --color-green: #00cc99;
  --color-blue: #4731d4;
  --color-pink: #ee92c2;
  --color-red: #ec0b43;
  --color-mustard: #f1b500;
  --color-pumpkin: #fe7f2d;

  --color-light-20: rgba(255, 238, 221, 0.2);
  --color-green-20: rgba(0, 204, 153, 0.2);
  --color-blue-20: rgba(71, 49, 212, 0.2);
  --color-pink-20: rgba(238, 146, 194, 0.2);
  --color-red-20: #ec0b433e;
  --color-mustard-20: #fed86640;
  --color-pumpkin-20: #fe812d39;
}

h1 {
  font-family: var(--font-family-titles);
  font-weight: 600;
  font-style: normal;
}

h2,
h3,
h4,
h5 {
  font-family: var(--font-family-titles);
  font-style: normal;
}

p {
  font-family: var(--font-family-texts);
}

/* Icons */
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

html,
body {
  height: 100%;
  /*overflow-x: hidden;*/
}
body {
  margin: 0;
}
