<nav
  class="bg-transparent text-light mix-blend-difference flex justify-between z-99 xl:fixed w-full px-5 md:px-20 py-6 font-semibold text-base"
>
  <div class="name">
    <a class="transition-all duration-300 hover:text-pink" routerLink="/"
      >Patricia Fernández</a
    >
  </div>

  <div class="title hidden md:block">
    <span>Frontend Developer</span>
  </div>

  <div class="flex gap-4">
    <a class="transition-all duration-300 hover:text-pink" routerLink="/"
      >Home</a
    >
    <a class="transition-all duration-300 hover:text-pink" routerLink="/about"
      >About</a
    >
    <a
      class="transition-all duration-300 hover:text-pink"
      routerLink="/portfolio"
      >Portfolio</a
    >
    <!-- <a class=" transition-all duration-300 hover:text-pink" routerLink="/resume">Resume</a> -->
    <a class="transition-all duration-300 hover:text-pink" routerLink="/contact"
      >Contact</a
    >
  </div>
</nav>
